
@{
    ViewBag.Title = "Index";

}


<style>
    .paper .b-r-cta {
        border: 1px solid #17a2b8;
        background-color: #17a2b8;
        background-image: linear-gradient(180deg,#544427,#17a2b8);
        text-shadow: 0 1px 1px rgba(0,0,0,.2);
        padding: 5px 15px;
    }

        .paper .b-r-cta:focus, .paper .b-r-cta:hover {
            transition: all .3s ease;
            background-image: linear-gradient(180deg,#544427,#e86700);
        }

    .paper * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /*background-image: linear-gradient(180deg,orange,#ff7302);*/
    }

    .invalid-blink {
        background-color: green;
        color: white;
    }
</style>
<style>
    .catStyle_Desc {
        color: orangered;
        cursor: pointer;
        font-size: 15px;
        border: 1px solid #077F7B;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .catStyle_active_Desc {
        color: white;
        background-color: #077F7B;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        border: 1px solid #077F7B;
        border-radius: 5px;
    }
</style>

<style>
    .table td, .table th {
        padding: 0.30rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }
</style>
<style>
    input[type=checkbox] + label {
        display: block;
        margin: 0.2em;
        cursor: pointer;
        padding: 0.2em;
    }

    input[type=checkbox] {
        display: none;
    }

        input[type=checkbox] + label:before {
            content: "\2714";
            border: 0.1em solid #F1511B;
            border-radius: 0.2em;
            /*border-radius: 50%;*/
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            padding-left: 0.2em;
            padding-bottom: 1.5em;
            margin-right: 0.2em;
            vertical-align: middle;
            color: transparent;
            transition: .2s;
        }

        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: #F1511B;
            border-color: #F1511B;
            color: #fff;
        }

        input[type=checkbox]:disabled + label:before {
            transform: scale(1);
            border-color: #aaa;
        }

        input[type=checkbox]:checked:disabled + label:before {
            transform: scale(1);
            background-color: #F1511B;
            border-color: #F1511B;
        }
</style>


<section class="content" ng-controller="ShopController">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="card-title"><b> Shop Name:(<span style="color:red"> Hotel Sai Darbar </span>)</b></h3>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12" style="overflow-y: auto;">
                            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%" style="font-size: 0.8rem; ">
                                <thead style="color: white; background-color: gray;">
                                    <tr>
                                        <th>Shop Name</th>
                                        <th>Owner Number</th>
                                        <th>Mobile Number</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>Hotel Type</th>
                                        <th>Hotel Open Time</th>
                                        <th>Hotel Close Time</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td> Hotel Sai Darbar</td>
                                        <td> Santosh Pagar </td>
                                        <td>8978124556</td>
                                        <td>Gangapur Road Nashik</td>
                                        <td>Nashik</td>
                                        <td>Non Veg</td>
                                        <td>07:00 AM</td>
                                        <td>12:00 PM</td>
                                        <td style="color:red;font-weight:bold">Active</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div style="overflow: auto; white-space: nowrap; padding:15px 0px;">
                                                <center>
                                                    <span>
                                                        <span class="catmenu_button_Desc catStyle_active_Desc" id="1_catId_Desc" ng-click="OnCategoryClick('1')" style="padding:5px; margin:5px;font-size:12px;">Edit</span>
                                                    </span>

                                                    <span>
                                                        <span class="catmenu_button_Desc catStyle_Desc" id="2_catId_Desc" ng-click="OnCategoryClick('2')" style="padding:5px; margin:5px;font-size:12px;">Images</span>
                                                    </span>


                                                    <span>
                                                        <span class="catmenu_button_Desc catStyle_Desc" id="3_catId_Desc" ng-click="OnCategoryClick('3')" style="padding:5px; margin:5px;font-size:12px;">Facility</span>
                                                    </span>



                                                </center>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="card-body" id="Demoexample_1">

                                    <div class="card">
                                        <div class="card-body">
                                            <form role="form" name="P1" ng-submit="P1(P1.$valid)" data-toggle="validator">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>Shop Name:</label>
                                                            <input type="text" class="form-control" ng-model="REGISTRATION_NO" placeholder="Enter Shop Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>Mobile Number:</label>
                                                            <input type="text" class="form-control" ng-model="REG_OWNER_NAME_ADDRESS" placeholder="Enter Mobile Number">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>Owner Name:</label>
                                                            <input type="text" class="form-control" ng-model="PROPOSED_OWNER_NAME_ADDRESS" placeholder="Owner Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>City Name:</label>
                                                            <input type="text" class="form-control" ng-model="PROPOSED_OWNER_NAME_ADDRESS" placeholder="Enter City">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>Address</label>
                                                            <input type="text" class="form-control" ng-model="ENGINE_NUMBER" placeholder="Enter Address">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>Hotel Type</label>
                                                            <input type="text" class="form-control" ng-model="ENGINE_NUMBER" placeholder="Enter Hotel Type">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>Closeing Time</label>
                                                            <input type="text" class="form-control" ng-model="ENGINE_NUMBER" placeholder="Enter Closeing Time">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" ng-model="V_ID" style="display:none">
                                                        <div class="form-group">
                                                            <label>Opening Time</label>
                                                            <input type="text" class="form-control" ng-model="ENGINE_NUMBER" placeholder="Enter Opening Time">
                                                        </div>
                                                    </div>







                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <button type="button" class="btn btn-sm" style="background-color:green;color:white" ng-disabled="P1.$invalid" ng-click="UpdateRegistration()">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                                <div class="card-body" id="Demoexample_2" style="display:none;">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" style="font-size: 0.8rem;color:black;">
                                            <thead>
                                                <tr style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black ">
                                                    <th>Sr.No</th>
                                                    <th>Banner Name</th>
                                                    <th>Product Image</th>
                                                    <th>Status</th>
                                                    <th style="width:50px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Veg</td>
                                                    <td>
                                                        <img src="~/Images/download (3).jpg" style="height:90px">
                                                    </td>
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                       
                                                            Puri Bhaji
                                                    </td>
                                                 
                                                    <td>
                                                        <img src="~/Images/download.jpg" style="height:90px">
                                                    </td>
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                            Panner Chilli
                                                    </td>
                                            
                                                
                                          
                                                    <td>
                                                        <img src="~/Images/download (2).jpg" style="height:90px">
                                                    </td>
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        
                                                            Pav Bhaji
                                                    </td>
                                       
                                                    <td>
                                                        <img src="~/Images/images (1).jpg" style="height:90px">
                                                    </td>
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </div>
                                </div>
                                <div class="card-body" id="Demoexample_3" style="display:none;">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" style="font-size: 0.8rem;color:black;">
                                            <thead>
                                                <tr style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black ">
                                                    <th>Sr.No</th>
                                                    <th>Facility Name</th>
                                                    <th>Status</th>
                                                    <th style="width:50px;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                            Garden
                                                    </td>
                                                 
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                            Ac Room
                                                    </td>
                                                   
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                       
                                                           Wifi
                                                    </td>
                                                    
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        
                                                           Sky Bar
                                                    </td>
                                                    
                                                    <td>Active</td>
                                                    <td>
                                                        <span title="Edit" data-target="#AddAdminReg_modal" data-toggle="modal" style="cursor:pointer;" class="btn btn-xs btn-primary" ng-click="UpdateAdmin(Admin)"><span class="fa fa-edit"></span></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul ng-if="pager.pages.length" class="pagination" style="margin-left:30px;">
                                            <li ng-class="{disabled:pager.currentPage === 1}">
                                                <a ng-click="setPage(1)">First</a>
                                            </li>
                                            <li ng-class="{disabled:pager.currentPage === 1}">
                                                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                                            </li>
                                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                                <a ng-click="setPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                                            </li>
                                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                                <a ng-click="setPage(pager.totalPages)">Last</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

@section Scripts{
    <script src="~/AngularJs/ShopDetails.js"></script>
    <script src="~/Angularjs/Datefilter.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script>

        $(function () {
            $("#D_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#D_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#D_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#D_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#D_DATE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>
    <script>

        $(function () {
            $("#ASSIGN_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#ASSIGN_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#ASSIGN_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#ASSIGN_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#ASSIGN_DATE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>

    <script>

        $(function () {
            $("#START_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#START_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#START_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#START_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#START_DATE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>

    <script>

        $(function () {
            $("#END_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#END_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#END_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#END_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#END_DATE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>


    <script>

        $(function () {
            $("#PAYMENT_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#PAYMENT_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#PAYMENT_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#PAYMENT_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#PAYMENT_DATE").datepicker("option", "yearRange", "2020:2060");
            /*  $("#PAYMENT_DATE").datepicker("option", "minDate", "0");*/
        });


    </script>


    <script>

        $(function () {
            $("#DATE_OF_DISCHARGE").datepicker({ changeMonth: true, changeYear: true });
            $("#DATE_OF_DISCHARGE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#DATE_OF_DISCHARGE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#DATE_OF_DISCHARGE").datepicker("option", "showMonthAfterYear", false);
            $("#DATE_OF_DISCHARGE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>

    <script>

        $(function () {
            $("#T_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#T_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#T_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#T_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#T_DATE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>


    <script>

        $(function () {
            $("#ASSIGN_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#ASSIGN_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#ASSIGN_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#ASSIGN_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#ASSIGN_DATE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>
    <script>

        $(function () {
            $("#THER_DATE").datepicker({ changeMonth: true, changeYear: true });
            $("#THER_DATE").datepicker("option", "dateFormat", "mm/dd/yy");
            $("#THER_DATE").datepicker("option", "monthNamesShort", ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]);
            $("#THER_DATE").datepicker("option", "showMonthAfterYear", false);
            $("#THER_DATE").datepicker("option", "yearRange", "2020:2060");
        });


    </script>



    @*<script>
            $(function () {
                var on = false;
                window.setInterval(function () {
                    on = !on;
                    if (on) {
                        $('.invalid').addClass('invalid-blink')
                    } else {
                        $('.invalid-blink').removeClass('invalid-blink')
                    }
                }, 2000);
            });
        </script>*@

    <script>
        function printDiv1() {
            var printContents = document.getElementById('contentdiv1').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>


    <script>
        function printDiv2() {
            var printContents = document.getElementById('contentdiv2').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>

    <script>
        function printDiv3() {
            var printContents = document.getElementById('contentdiv3').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>

    <script>
        function printDiv4() {
            var printContents = document.getElementById('contentdiv4').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;

        }
    </script>

}  