
@{
    ViewBag.Title = "Index";
}
<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }
</style>

<section class="content" ng-controller="AdminCtrl">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <a ng-click="GoToPreviousNextPage('Previous')" class="btn btn-xs" style="background-color:brown;color:white"><span class="fa fa-arrow-left"></span></a>
                            </div>
                            <div class="col-lg-11" style="padding-left:45%;text-align:center;">
                                <h3 class="card-title"><b>Restaurant</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <button type="button" class="btn btn-sm" style="background-color:green;color:white" data-toggle="modal" ng-click="AdminClick()">Add Restaurant</button>
                        </div>
                        <div class="col-3"></div> <div class="col-3"></div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Search Restaurant" ng-model="FARMER_SEARCH" ng-keyup="SearchAdmin()">
                        </div>
                    </div>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-bordered" style="font-size: 0.8rem;color:black;">
                            <thead>
                                <tr style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black ">
                                    <th> #</th>
                                    <th><b>Restaurant Name</b></th>
                                    <th><b>Owner Name</b></th>
                                    <th><b>Mobile Number</b></th>
                                    <th><b>Address</b></th>
                                    <th><b>Food Type</b></th>
                                    <th><b>Status</b></th>
                                    <th><b>Reg Date</b></th>
                                    <th><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="admin in AdminList" style="color:black;">
                                    <td>{{$index+1}}</td>
                                    <td>{{admin.RES_NAME}}</td>
                                    <td>{{admin.OWNER_NAME}}</td>
                                    <td>{{admin.MOBILE_NUMBER}}</td>
                                    <td>{{admin.ADDRESS}}</td>
                                    <td>{{admin.FOOD_TYPE}}</td>
                                    <td><a href="" ng-click="ChangeStatus(admin)"><b style="color:red">{{admin.STATUS}}</b></a></td>
                                    <td>{{admin.REG_DATE}}</td>
                                    <td>
                                        <button type="button" class="btn btn-xs" style="background-color:green;color:white;" data-toggle="modal" ng-click="Update(admin)">Edit</button>
                                        <a href="~/Resturant_Registration/Details/{{admin.RES_ID}}" class="btn btn-xs" style="background-color:orangered;color:white;" >View</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <ul ng-if="pager.pages.length" class="pagination" style="margin-left:30px;">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(1)">First</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                <a ng-click="setPage(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>


                    <div class="modal fade" id="Admin_Addupdate">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header" style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black;padding:10px; ">
                                    <h5 class="modal-title"><b>{{Admin_Action}}</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        <form role="form" name="Restaurant" ng-submit="Restaurant(Restaurant.$valid)" data-toggle="validator">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" ng-model="ADMIN_ID" style="display:none">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Restaurant Name:</label> <label style="color:red">*</label>
                                                        <input type="text" class="form-control" ng-model="RES_NAME" placeholder="Enter Restaurant Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Mobile Number:</label><label style="color:red">*</label>
                                                        <input type="text" maxlength="10" onkeyup="NumbersOnly(this)" class="form-control" ng-model="MOBILE_NUMBER" placeholder="Enter Mobile Number" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Owner Name:</label><label style="color:red">*</label>
                                                        <input type="text" class="form-control" ng-model="OWNER_NAME" placeholder="Enter Owner Name" required>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Address:</label><label style="color:red">*</label>
                                                        <textarea class="form-control" rows="3" ng-model="ADDRESS" placeholder="Enter Address" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Latitude:</label><label style="color:red">*</label>
                                                        <input class="form-control" rows="3" ng-model="LATITUDE" placeholder="Enter Latitude" required />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Longitude:</label><label style="color:red">*</label>
                                                        <input class="form-control" rows="3" ng-model="LONGITUDE" placeholder="Enter Longitude" required />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Pincode:</label><label style="color:red">*</label>
                                                        <input class="form-control"  onkeyup="NumbersOnly(this)" maxlength="6" ng-model="PINCODE" placeholder="Enter Pincode" required />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Food Type:</label><label style="color:red">*</label>
                                                        <select class="form-control" ng-model="FOOD_TYPE" id="FOOD_TYPE" name="FOOD_TYPE">
                                                            <option value="">Select Type</option>
                                                            <option value="Both">Both</option>
                                                            <option value="Veg">Veg</option>
                                                            <option value="Non Veg">Non Veg</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Password:</label><label style="color:red">*</label>
                                                        <input class="form-control" ng-model="PASSWORD" placeholder="Enter Password" required />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Confirm Password:</label><label style="color:red">*</label>
                                                        <input class="form-control" ng-model="CONFIRM_PASSWORD" placeholder="Enter Password" required />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Open Time:</label><label style="color:red">*</label>
                                                        <input class="form-control" ng-model="RES_OPEN_TIME" placeholder="Enter Open Time" required />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">

                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Close Time:</label><label style="color:red">*</label>
                                                        <input class="form-control" ng-model="RES_CLOSE_TIME" placeholder="Enter Close Time" required />
                                                    </div>
                                                </div>


                                                @*<div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label style="color: black; font-size: 14px;">Shop Image:</label><label style="color:red">*</label>
                                                        <input type="file" ng-model="RES_LOGO" class="form-control" accept="image/*" style="height:38px;" id="Profile_photo">
                                                        <label style="color:green;font-size:14px;">Note:Image size should be less than 500 kb and Dimension: 512 * 220 pixels.</label>
                                                        <a href="#" style="display:none" id="divProfile">
                                                            <img src={{_admin.RES_LOGO}} style="height: 100px; width: 100px; object-fit: contain;">&nbsp; &nbsp; &nbsp;
                                                        </a>
                                                    </div>
                                                </div>*@

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Description:</label><label style="color:red">*</label>
                                                        <textarea class="form-control" rows="3" ng-model="DESCRIPTION" placeholder="Enter Description" required></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="example2" class="table table-hover" style="font-size: 0.8rem">
                                                        <thead>
                                                            <tr style="background-color:#157da9">

                                                                <th>Category Name</th>
                                                                <th>Yes/No</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><b>Food</b></td>
                                                                <td><input type="checkbox" id="Food" ng-model="Food" style="width:20px;height:20px;"> </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Sweets</b></td>

                                                                <td><input type="checkbox" id="Sweets" ng-model="Sweets" style="width:20px;height:20px;"> </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Juice</b></td>
                                                                <td><input type="checkbox" id="Juice" ng-model="Juice" style="width:20px;height:20px;"> </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Cafeteria</b></td>
                                                                <td><input type="checkbox" id="Cafeteria" ng-model="Cafeteria" style="width:20px;height:20px;"> </td>
                                                            </tr>
                                                        </tbody>


                                                    </table>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm" style="color:white;background-color:green" ng-disabled="Restaurant.$invalid" ng-click="AddAdmin()">{{Admin_Action}}</button>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>


    </div>
</section>



@section Scripts{


    <script src="~/AngularJs/Hotel.js"></script>
    <script src="~/AngularJs/Datefilter.js"></script>
    <link href="~/Css/Paging.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("#Admin_Addupdate").modal({
                show: false,
                backdrop: 'static'
            });
        });
    </script>

    <script>
        function LettersOnly(input) {
            var regex = /[^a-zA-Z ]/gi;
            input.value = input.value.replace(regex, "");
        }
        function NumbersOnly(input) {
            var regex1 = /[^0-9]/gi;
            input.value = input.value.replace(regex1, "");
        }
    </script>
}


