.prodDetailsStyle {
    color: #666;
    font-size: 12px;
    font-family: Celias, Helvetica;
}

.ShowSpanLikeDDL_Style {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #848484;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    /*-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;*/
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ShowSpanLikeDDL_StyleWithoutExtraStyle {
    display: inline-block;
    /*width: 100%;*/
    /*cursor: pointer;*/
    height: 34px;
    padding: 6px 0px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    /*-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;*/
    /*-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
    /*transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}



.addtoCartbtnStyle {
    background-color: #4CA9B1;
    color: white;
    /*width:100%;*/
    display: inline-block;
    border-radius: 0px;
}
    .addtoCartbtnStyle:hover {
        background-color: #4CA9B1;
        color: white;
    }


/*Not Using This Style*/
.addtoCartbtnStyle_xxx {
    flex: 1 1 auto;
    margin: 2px;
    padding: 5px 20px 5px 20px; /*top right bottom left*/
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}
    .addtoCartbtnStyle_xxx:hover {
        background-position: right center; /* change the direction of the change here */
    }



/*.addtoCartbtnbtn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}*/

.whyshopStyle_titleStyle {
    font-size: 14px;
    font-weight: 500;
    color: #37a3be;
}

.whyshopStyle {
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight:bold;
}

.Outline_btn {
    border: 0.5px solid black;
    background-color: #054231;
    /*color: black;*/
    /*padding: 3px 10px;*/
    font-size: 12px;
    cursor: pointer;
    border-color: #054231;
    color: white;
    border-radius: 50px;
    /*height: 33.50px;
    width: 33.50px;*/
    height: 21px;
    width: 22.50px;
}

    .Outline_btn:hover {
        background-color: forestgreen;
        color: white;
    }

/*.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #46001C;
    }

    49% {
        color: #46001C;
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: #46001C;
    }
}*/

/*.blinking {
    color: #000;
    font-weight: bold;
    font-size: 2rem;
    animation: blinkingText 2s infinite;
}

@keyframes blinkingText {
    0% {
        color: #10c018;
    }

    25% {
        color: #1056c0;
    }

    50% {
        color: #ef0a1a;
    }

    75% {
        color: #254878;
    }

    100% {
        color: #04a1d5;
    }
}*/

.blinking {
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {
        background-color: #F9DDC6;
       
    }

    /*25% {
        background-color: #FF7C2E;
        
    }

    50% {
        background-color: #F9DDC6;
        color: white;
    }*/

    75% {
        background-color: #FF7C2E;
    }

    100% {
        background-color: #F9DDC6;
    }
}




