
@{
    ViewBag.Title = "Index";
}
<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }
</style>

<section class="content" ng-controller="EmployeeCtrl">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <a ng-click="GoToPreviousNextPage('Previous')" class="btn btn-xs" style="background-color:brown;color:white"><span class="fa fa-arrow-left"></span></a>
                            </div>
                            <div class="col-lg-11">
                                <h3 class="card-title"><b>Delivery Boy</b></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <button type="button" class="btn btn-sm" style="background-color:green;color:white" data-toggle="modal" ng-click="AdminClick()">Add Delivery Boy</button>
                        </div>
                        <div class="col-3"></div> <div class="col-3"></div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Search Delivery Boy" ng-model="FARMER_SEARCH" ng-keyup="SearchAdmin()">
                        </div>
                    </div>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-bordered" style="font-size: 0.8rem;color:black;">
                            <thead>
                                <tr style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black ">
                                    <th> #</th>
                                    <th><b>Full Name</b></th>
                                    <th><b>Mobile Number</b></th>
                                    <th><b>Email</b></th>
                                    <th><b>Document Uploaded</b></th>
                                    <th><b>Status</b></th>
                                    <th><b>Reg Date</b></th>
                                    <th><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Employee in EmployeeList" style="color:black;">
                                    <td>{{$index+1}}</td>
                                    <td>{{Employee.EMP_NAME}}</td>
                                    <td>{{Employee.MOBILE_NO}}</td>
                                    <td>{{Employee.EMAIL}}</td>
                                    <td>
                                        <span ng-if="Employee.AADHAAR!=''"><a href="" ng-click="ViewImage(Employee, 'Aadhaar')">AADHAAR</a></span>
                                        <span ng-if="Employee.AADHAAR!=''&&Employee.PAN!=''">&nbsp;|&nbsp;</span>
                                        <span ng-if="Employee.PAN!=''"><a href="" ng-click="ViewImage(Employee, 'PAN')">PAN</a></span>
                                    </td>
                                    <td><a href="" data-target="#Emp_View" ng-click="Emp_View(Employee)"><b style="color:red">{{Employee.STATUS}}</b></a></td>
                                    <td>{{Employee.REG_DATE}}</td>
                                    <td>
                                        <button type="button" class="btn btn-xs" style="background-color:green;color:white;" data-toggle="modal" ng-click="Update(Employee)">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul ng-if="pager.pages.length" class="pagination" style="margin-left:30px;">
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(1)">First</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === 1}">
                                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
                            </li>
                            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                                <a ng-click="setPage(page)">{{page}}</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                            </li>
                            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                                <a ng-click="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                    </div>


                    <div class="modal fade" id="Employee_Addupdate">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header" style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black;padding:10px; ">
                                    <h5 class="modal-title"><b>{{Employee_Action}}</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        <form role="form" name="K1" ng-submit="K1(K1.$valid)" data-toggle="validator">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text" class="form-control" ng-model="EMP_ID" style="display:none">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Delivery Boy Name:</label> <label style="color:red">*</label>
                                                        <input type="text" class="form-control" ng-model="EMP_NAME" placeholder="Enter Delivery Boy Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Mobile Number:</label><label style="color:red">*</label>
                                                        <input type="text" maxlength="10" class="form-control" onkeyup="NumbersOnly(this)" ng-model="MOBILE_NO" placeholder="Enter Mobile Number" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Address:</label><label style="color:red">*</label>
                                                        <textarea class="form-control" rows="3" ng-model="ADDRESS" placeholder="Enter Address" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Email:</label>
                                                        <input type="email" class="form-control" ng-model="EMAIL" placeholder="Enter Email">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Area of Work:</label><label style="color:red">*</label>
                                                        <textarea class="form-control" rows="3" ng-model="AreaOfWork" placeholder="Enter Area of Work" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Vehicle Name:</label>
                                                        <select ng-model="VEHICAL_ID" class="form-control" id="VEHICAL_ID" name="VEHICAL_ID">
                                                            <option value="Select Vehicle">All</option>
                                                            <option ng-repeat="Vehicle in VehicleList" value="{{Vehicle.VEHICAL_ID}}">{{Vehicle.VEHICAL_NAME}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">AADHAAR Copy:</label>
                                                        <input type="file" class="form-control" name="AADHAAR" accept="image/png, image/jpeg, image/jpg ,application/pdf" ng-model="AADHAAR" id="AADHAAR" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label style="font-size: 10px;color:white">.</label>
                                                        <input type="button" class="form-control btn-xs" style="background-color:{{ADHAR_BUTTON}};color:white;" ng-click="UploadDocument('Adhar')" value="Upload" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">PAN Copy:</label>
                                                        <input type="file" class="form-control" name="PAN" accept="image/png, image/jpeg, image/jpg ,application/pdf" ng-model="PAN" id="PAN" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label style="font-size: 10px;color:white">.</label>
                                                        <input type="button" class="form-control btn-xs" style="background-color:{{PANCARD_BUTTON}};color:white;" ng-click="UploadDocument('Pancard')" value="Upload" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label style="color:black;font-size:14px;">Password:</label><label style="color:red">*</label>
                                                        <input class="form-control" ng-model="PASSWORD" placeholder="Enter Password" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm" style="color:white;background-color:green" ng-disabled="K1.$invalid" ng-click="AddEmployee()">{{Employee_Action}}</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal fade" id="Emp_View">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="card-body">
                                        <center><h5><label><b>Change Status</b></label></h5></center>
                                        <form name="annerForm">
                                            <div class="form-group col-md-12">
                                                <center><label class="control-label">Are you sure change delivery boy status ?</label></center>
                                                <br />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm" style="background-color:#077F7B;color:white" ng-click="ChangeStatus()">Change Status</button>
                                    <button type="button" class="btn btn-sm" style="background-color:#077F7B;color:white" data-dismiss="modal" aria-label="Close">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="viewDocument">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:orange;color:black;padding:10px;">
                                    <h5 class="modal-title"><b>{{IMAGE_CATEGORY}}</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="text-align:center">
                                    <div>
                                        <img class="zoom" ng-src="{{IMAGE}}" style="width:250px; height:250px;" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm" style="color:white;background-color:green" ng-click="CloseModel()">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts{

    <script src="~/AngularJs/DeliveryBoy.js"></script>
    <script src="~/AngularJs/Datefilter.js"></script>
    <link href="~/Css/Paging.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("#Employee_Addupdate").modal({
                show: false,
                backdrop: 'static'
            });
        });
    </script>
    <script>
        function LettersOnly(input) {
            var regex = /[^a-zA-Z ]/gi;
            input.value = input.value.replace(regex, "");
        }
        function NumbersOnly(input) {
            var regex1 = /[^0-9]/gi;
            input.value = input.value.replace(regex1, "");
        }
    </script>
}
