@{
    ViewBag.Title = "Home Page";
}

<style>
    .table td, .table th {
        padding: 0.30rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>


<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

<section class="content" ng-controller="HomeCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-lg-12"><h3 class="card-title"><b>DASHBOARD</b></h3></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <br>
                        <div class="d-md-flex">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-6 col-xs-6 col-md-6">
                                        <a href="~/Resturant_Registration/Index">
                                            <div class="small-box" style="height: 70px; background-image: linear-gradient(to right,#13b757f2,#eba60a); color: white">
                                                <div class="inner">
                                                    <h5><b>100</b></h5>
                                                    <p>Total Resturant</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-xs-6 col-md-6">

                                        <a href="~/FoodRequest/TotalFoodRequest">
                                            <div class="small-box" style="height: 70px; background-image: linear-gradient(to right,#13b757f2,#eba60a); color: white">
                                                <div class="inner">
                                                    <h5><b>100</b></h5>
                                                    <p>Total Food Order</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-3 col-md-3">
                                        <a href="~/Dining/TotalDinningRequest">
                                            <div class="small-box" style="height: 70px; background-image: linear-gradient(to right,#de6262,#ffb88c); color: white ">
                                                <div class="inner">
                                                    <h5><b>40</b></h5>
                                                    <p>Total Dinning Order</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-lg-2 col-sm-6 col-md-3">
                                        <a href="~/FoodRequest/FoodRequest">
                                            <div class="small-box" style="height: 70px; background-image: linear-gradient(to right,#eb3349,#f45c43); color: white ">
                                                <div class="inner">
                                                    <h5><b>78</b></h5>
                                                    <p>Todays Food Order</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-md-3">
                                        <a href="~/Dining/Index">
                                            <div class="small-box" style="height: 70px; background-image: linear-gradient(to right,#43cea2,#185a9d); color: white ">
                                                <div class="inner">
                                                    <h5><b>78</b></h5>
                                                    <p>Todays Dinning Order</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-md-12">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black;padding:2px; ">
                                <center> <b style="font-size:17px;text-align:center;font-family:Times New Roman">Todays Food Request</b></center>
                            </div>

                            <div class="card-body p-0">
                                <br>
                                <div class="d-md-flex">
                                    <div class="col-lg-12">
                                        <div class="ibox-body" style="height:300px; overflow-y:auto;">
                                            <table id="example2" class="table table-bordered bordered" style="font-size: 0.7rem">
                                                <thead>
                                                    <tr style="background-color:lightgray">
                                                        <th style="color:black;width:10px"><center>Sr.No</center></th>
                                                        <th style="color: black; width: 20%"><center>Customer Name</center></th>
                                                        <th style="color: black; width:20%"><center>Mobile Number</center></th>
                                                        <th style="color: black; width:20%"><center>Food Type</center></th>
                                                        <th style="color: black; width: 20%"><center>Order Time</center></th>
                                                        <th style="color: black; width: 20%"><center>Status</center></th>
                                                        <th style="color: black; width: 10%"><center>Action</center></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>1</span></center></td>
                                                        <td><center><span>Wow Infotech</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>03.49 PM</span></center></td>
                                                        <td><center><span>Pending</span></center></td>
                                                        <td style="text-align:center">

                                                            <a href="/FoodRequest/FoodRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>2</span></center></td>
                                                        <td><center><span>Ram Pandit</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>03.49 PM</span></center></td>
                                                        <td><center><span>Pending</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/FoodRequest/FoodRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>3</span></center></td>
                                                        <td><center><span>Sham Khelukar</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Non-Veg Food</span></center></td>
                                                        <td><center><span>03.49 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/FoodRequest/FoodRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>4</span></center></td>
                                                        <td><center><span>Vedant Patil</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>03.49 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/FoodRequest/FoodRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>5</span></center></td>
                                                        <td><center><span>Wow Infotech</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>

                                                        <td><center><span>Non-Veg Food</span></center></td>
                                                        <td><center><span>02.49 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/FoodRequest/FoodRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>6</span></center></td>
                                                        <td><center><span>Virat Kohli</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>

                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>04.41 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/FoodRequest/FoodRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>7</span></center></td>
                                                        <td><center><span>Akash Pawar</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>04.49 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/FoodRequest/FoodRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header" style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black;padding:2px; ">
                                <center>  <b style="font-size:17px;font-family:Times New Roman">Todays Dinning Request</b></center>
                            </div>
                            <div class="card-body p-0">
                                <br>
                                <div class="d-md-flex">
                                    <div class="col-lg-12">
                                        <div class="ibox-body" style="height:300px; overflow-y:auto;">
                                            <table id="example2" class="table table-bordered bordered" style="font-size: 0.7rem">
                                                <thead>
                                                    <tr style="background-color:lightgray">
                                                        <th style="color:black;width:10%"><center>Sr.No</center></th>
                                                        <th style="color: black; width:15%"><center>Customer Name</center></th>
                                                        <th style="color: black; width:15%"><center>Mobile Number</center></th>
                                                        <th style="color: black; width:10%"><center>Food Type</center></th>
                                                        <th style="color: black; width: 10%"><center>Dinning Time</center></th>
                                                        <th style="color: black; width: 10%"><center>Order Time</center></th>
                                                        <th style="color: black; width: 10%"><center>Status</center></th>
                                                        <th style="color: black; width: 10%"><center>Action</center></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>1</span></center></td>
                                                        <td><center><span>Wow Infotech</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>3:00 PM</span></center></td>
                                                        <td><center><span>4:00 PM</span></center></td>
                                                        <td><center><span>Pending</span></center></td>
                                                        <td style="text-align:center">


                                                            <a href="/Dining/DiningRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>


                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>2</span></center></td>
                                                        <td><center><span>Ram Pandit</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Non-Veg Food</span></center></td>
                                                        <td><center><span>3:00 PM</span></center></td>
                                                        <td><center><span>4:00 PM</span></center></td>
                                                        <td><center><span>Pending</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/Dining/DiningRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>


                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>3</span></center></td>
                                                        <td><center><span>Sham Khelukar</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>3:00 PM</span></center></td>
                                                        <td><center><span>4:00 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">
                                                            <a href="/Dining/DiningRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>4</span></center></td>
                                                        <td><center><span>Vedant Patil</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Non-Veg Food</span></center></td>
                                                        <td><center><span>3:00 PM</span></center></td>
                                                        <td><center><span>4:00 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/Dining/DiningRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>5</span></center></td>
                                                        <td><center><span>Wow Infotech</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>3:00 PM</span></center></td>
                                                        <td><center><span>4:00 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/Dining/DiningRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>6</span></center></td>
                                                        <td><center><span>Virat Kohli</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>3:00 PM</span></center></td>
                                                        <td><center><span>4:00 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>
                                                        <td style="text-align:center">
                                                            <a href="/Dining/DiningRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr style="position:sticky;color:black">
                                                        <td><center><span>7</span></center></td>
                                                        <td><center><span>Akash Pawar</span></center></td>
                                                        <td><center><span>7889455612</span></center></td>
                                                        <td><center><span>Veg Food</span></center></td>
                                                        <td><center><span>3:00 PM</span></center></td>
                                                        <td><center><span>4:00 PM</span></center></td>
                                                        <td style="color:red;font-weight:bold"><center><span>Details Sent</span></center></td>

                                                        <td style="text-align:center">

                                                            <a href="/Dining/DiningRequestDetails" title="Details" ng-click="GetproductByIdScheme(ProductMaster)" style="cursor:pointer;background-color:#077F7B;color:white" class="btn btn-outline btn-xs dim">
                                                                <span class="fa fa-eye"></span>
                                                            </a>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    </div>
</section>


@section Scripts{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        $(function () {
            $("#STARTING_DATE").datepicker({ maxDate: 0 });
        });
    </script>
}


